In [3]:
import pandas as pd
import numpy as np

Question1:Version of NumPy*

In [4]:
np.__version__

'1.21.6'

Question2: Number of records in the dataset

In [5]:
pd.read_csv("data.csv")

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

Question 3: The most popular car manufacturers

In [7]:
df=pd.read_csv("data.csv")

In [21]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [40]:
new_df=df.drop_duplicates('Popularity')

In [ ]:
new_df.nlargest(n=3,columns='Popularity')

In [42]:
print(new_df.head(200))

                Make               Model  Year  \
0                BMW          1 Series M  2011
17              Audi                 100  1992
32              FIAT          124 Spider  2017
35     Mercedes-Benz           190-Class  1991
64          Chrysler                 200  2015
87            Nissan               200SX  1996
104            Volvo                 240  1991
112            Mazda                   2  2012
194       Mitsubishi              3000GT  1997
294          Ferrari                 360  2002
474       Alfa Romeo                  4C  2015
479           Toyota             4Runner  2014
604          McLaren                570S  2016
611          Maybach                  57  2010
674          Pontiac                6000  1990
736          Porsche          718 Cayman  2017
800             Saab                9-2X  2005
1137             GMC      Acadia Limited  2017
1171         Hyundai              Accent  2014
1189        Plymouth             Acclaim  1993
1192           Honda    Accord Crosstour  2010
1287      Oldsmobile             Achieva  1996
1300          Suzuki               Aerio  2005
1331            Ford            Aerostar  1995
1367        Cadillac             Allante  1991
1426             Kia              Amanti  2007
1452         Bentley              Arnage  2007
1476       Chevrolet         Astro Cargo  2003
1610           Dodge             Avenger  2012
1620     Lamborghini           Aventador  2014
1650         Lincoln             Aviator  2003
1747          Subaru          B9 Tribeca  2006
1792      Volkswagen  Beetle Convertible  2014
2116          Spyker                  C8  2009
2341           Buick             Cascada  2016
2696           Acura                  CL  2001
2921     Rolls-Royce            Corniche  2001
3030        Maserati               Coupe  2004
3173           Lexus             CT 200h  2015
3520    Aston Martin                 DB7  2003
3551      Land Rover            Defender  1994
3912           Lotus               Elise  2009
4269        Infiniti                EX35  2008
4893           Scion                FR-S  2014
5202         Genesis                 G80  2017
5692          HUMMER                  H3  2008
6921           Tesla             Model S  2014
11362        Bugatti         Veyron 16.4  2008

                     Engine Fuel Type  Engine HP  Engine Cylinders  \
0         premium unleaded (required)      335.0               6.0
17                   regular unleaded      172.0               6.0
32     premium unleaded (recommended)      160.0               4.0
35                   regular unleaded      130.0               4.0
64           flex-fuel (unleaded/E85)      184.0               4.0
87                   regular unleaded      115.0               4.0
104                  regular unleaded      114.0               4.0
112                  regular unleaded      100.0               4.0
194                  regular unleaded      218.0               6.0
294       premium unleaded (required)      400.0               8.0
474       premium unleaded (required)      237.0               4.0
479                  regular unleaded      270.0               6.0
604       premium unleaded (required)      562.0               8.0
611       premium unleaded (required)      543.0              12.0
674                  regular unleaded      140.0               6.0
736       premium unleaded (required)      300.0               4.0
800       premium unleaded (required)      227.0               4.0
1137                 regular unleaded      281.0               6.0
1171                 regular unleaded      138.0               4.0
1189                 regular unleaded      100.0               4.0
1192                 regular unleaded      271.0               6.0
1287                 regular unleaded      150.0               4.0
1300                 regular unleaded      155.0               4.0
1331                 regular unleaded      135.0               6.0
1367                 regular unleaded      200.0               8.0
1426                 regular unleaded      264.0               6.0
1452      premium unleaded (required)      450.0               8.0
1476                 regular unleaded      190.0               6.0
1610         flex-fuel (unleaded/E85)      283.0               6.0
1620      premium unleaded (required)      700.0              12.0
1650      premium unleaded (required)      302.0               8.0
1747      premium unleaded (required)      250.0               6.0
1792                 regular unleaded      170.0               4.0
2116      premium unleaded (required)      400.0               8.0
2341   premium unleaded (recommended)      200.0               4.0
2696      premium unleaded (required)      225.0               6.0
2921      premium unleaded (required)      325.0               8.0
3030      premium unleaded (required)      390.0               8.0
3173                 regular unleaded      134.0               4.0
3520      premium unleaded (required)      420.0              12.0
3551                 regular unleaded      182.0               8.0
3912      premium unleaded (required)      189.0               4.0
4269   premium unleaded (recommended)      297.0               6.0
4893      premium unleaded (required)      200.0               4.0
5202                 regular unleaded      311.0               6.0
5692                 regular unleaded      242.0               5.0
6921                         electric        NaN               0.0
11362     premium unleaded (required)     1001.0              16.0

      Transmission Type      Driven_Wheels  Number of Doors  \
0                MANUAL   rear wheel drive              2.0
17               MANUAL  front wheel drive              4.0
32               MANUAL   rear wheel drive              2.0
35               MANUAL   rear wheel drive              4.0
64            AUTOMATIC  front wheel drive              4.0
87               MANUAL  front wheel drive              2.0
104              MANUAL   rear wheel drive              4.0
112              MANUAL  front wheel drive              4.0
194              MANUAL  front wheel drive              2.0
294              MANUAL   rear wheel drive              2.0
474    AUTOMATED_MANUAL   rear wheel drive              2.0
479           AUTOMATIC   rear wheel drive              4.0
604    AUTOMATED_MANUAL   rear wheel drive              2.0
611           AUTOMATIC   rear wheel drive              4.0
674           AUTOMATIC  front wheel drive              4.0
736              MANUAL   rear wheel drive              2.0
800              MANUAL    all wheel drive              4.0
1137          AUTOMATIC  front wheel drive              4.0
1171          AUTOMATIC  front wheel drive              4.0
1189             MANUAL  front wheel drive              4.0
1192          AUTOMATIC    all wheel drive              4.0
1287             MANUAL  front wheel drive              4.0
1300          AUTOMATIC    all wheel drive              4.0
1331          AUTOMATIC   rear wheel drive              3.0
1367          AUTOMATIC  front wheel drive              2.0
1426          AUTOMATIC  front wheel drive              4.0
1452          AUTOMATIC   rear wheel drive              4.0
1476          AUTOMATIC   rear wheel drive              3.0
1610          AUTOMATIC  front wheel drive              4.0
1620   AUTOMATED_MANUAL    all wheel drive              2.0
1650          AUTOMATIC    all wheel drive              4.0
1747          AUTOMATIC    all wheel drive              4.0
1792          AUTOMATIC  front wheel drive              2.0
2116             MANUAL   rear wheel drive              2.0
2341          AUTOMATIC  front wheel drive              2.0
2696          AUTOMATIC  front wheel drive              2.0
2921          AUTOMATIC   rear wheel drive              2.0
3030             MANUAL   rear wheel drive              2.0
3173          AUTOMATIC  front wheel drive              4.0
3520          AUTOMATIC   rear wheel drive              2.0
3551             MANUAL   four wheel drive              2.0
3912             MANUAL   rear wheel drive              2.0
4269          AUTOMATIC   rear wheel drive              4.0
4893             MANUAL   rear wheel drive              2.0
5202          AUTOMATIC   rear wheel drive              4.0
5692             MANUAL   four wheel drive              4.0
6921       DIRECT_DRIVE   rear wheel drive              4.0
11362  AUTOMATED_MANUAL    all wheel drive              2.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
17                                    Luxury      Midsize          Sedan
32                               Performance      Compact    Convertible
35                                    Luxury      Compact          Sedan
64                                 Flex Fuel      Midsize          Sedan
87                                       NaN      Compact          Coupe
104                                   Luxury      Midsize          Wagon
112                                Hatchback      Compact  4dr Hatchback
194                    Hatchback,Performance      Compact  2dr Hatchback
294                  Exotic,High-Performance      Compact    Convertible
474                  Luxury,High-Performance      Compact    Convertible
479                                      NaN      Midsize        4dr SUV
604                  Exotic,High-Performance      Compact          Coupe
611                            Exotic,Luxury        Large          Sedan
674                                      NaN      Midsize          Sedan
736                  Luxury,High-Performance      Compact          Coupe
800                       Luxury,Performance      Compact          Wagon
1137                               Crossover      Midsize        4dr SUV
1171                               Hatchback      Compact  4dr Hatchback
1189                                     NaN      Compact          Sedan
1192                     Crossover,Hatchback      Midsize  4dr Hatchback
1287                                     NaN      Midsize          Sedan
1300                                     NaN      Compact          Sedan
1331                                     NaN      Midsize  Cargo Minivan
1367                      Luxury,Performance      Compact    Convertible
1426                                     NaN      Midsize          Sedan
1452               Exotic,Luxury,Performance        Large          Sedan
1476                                     NaN        Large  Cargo Minivan
1610                   Flex Fuel,Performance      Midsize          Sedan
1620                 Exotic,High-Performance      Midsize    Convertible
1650                                  Luxury      Midsize        4dr SUV
1747                               Crossover      Midsize        4dr SUV
1792                                     NaN      Compact    Convertible
2116                 Exotic,High-Performance      Compact          Coupe
2341                                     NaN      Midsize    Convertible
2696                                  Luxury      Midsize          Coupe
2921                           Exotic,Luxury        Large    Convertible
3030          Exotic,Luxury,High-Performance      Compact          Coupe
3173                 Hatchback,Luxury,Hybrid      Compact  4dr Hatchback
3520   Exotic,Factory Tuner,High-Performance      Compact          Coupe
3551                                  Luxury      Compact        2dr SUV
3912                 Exotic,High-Performance      Compact    Convertible
4269                        Crossover,Luxury      Midsize        4dr SUV
4893                             Performance      Compact          Coupe
5202                      Luxury,Performance        Large          Sedan
5692                                  Luxury      Midsize        4dr SUV
6921                 Exotic,High-Performance        Large          Sedan
11362                Exotic,High-Performance      Compact          Coupe

       highway MPG  city mpg  Popularity     MSRP
0               26        19        3916    46135
17              24        17        3105     2000
32              35        26         819    27495
35              26        18         617     2000
64              36        23        1013    25170
87              36        26        2009     2000
104             26        19         870     2000
112             35        29         586    16020
194             23        17         436     3941
294             15        10        2774   160829
474             34        24         113    63900
479             23        17        2031    41365
604             23        16         416   184900
611             16        10          67   366000
674             27        17         210     2000
736             28        21        1715    53900
800             24        17         376    26950
1137            22        15         549    43850
1171            37        27        1439    17395
1189            29        22         535     2000
1192            25        17        2202    34020
1287            30        20          26     2000
1300            26        21         481    17049
1331            22        16        5657     2000
1367            20        14        1624     2000
1426            24        17        1720    25495
1452            15        10         520   221990
1476            21        15        1385    22050
1610            29        19        1851    25995
1620            16        10        1158   441600
1650            17        12          61    45125
1747            21        16         640    30695
1792            32        24         873    27295
2116            18        13           2   209990
2341            27        20         155    33065
2696            27        17         204    29980
2921            15        10          86   359990
3030            15        10         238    81013
3173            40        43         454    32200
3520            18        11         259   156300
3551            15        12         258    27736
3912            27        21         613    43995
4269            24        17         190    31900
4893            30        22         105    24700
5202            28        18          21    41400
5692            18        13         130    39290
6921            90        88        1391    79900
11362           14         8         820  2065902

Question 4: Number of unique Audi car models

In [46]:
df.groupby('Make')['Model'].nunique()

Make
Acura            18
Alfa Romeo        1
Aston Martin     12
Audi             34
BMW              39
Bentley          18
Bugatti           1
Buick            20
Cadillac         30
Chevrolet        63
Chrysler         19
Dodge            33
FIAT              5
Ferrari          14
Ford             51
GMC              30
Genesis           1
HUMMER            2
Honda            21
Hyundai          22
Infiniti         38
Kia              16
Lamborghini       6
Land Rover       11
Lexus            46
Lincoln          16
Lotus             5
Maserati          8
Maybach           3
Mazda            31
McLaren           4
Mercedes-Benz    40
Mitsubishi       22
Nissan           32
Oldsmobile       18
Plymouth         10
Pontiac          20
Porsche          12
Rolls-Royce      10
Saab              8
Scion             8
Spyker            1
Subaru           16
Suzuki           16
Tesla             1
Toyota           39
Volkswagen       31
Volvo            26
Name: Model, dtype: int64

Question 5: Number of columns with missing values

In [52]:
print(df.isnull().any())
'''isnull function is used to find null values .any display column that have atlest 1 null value if i 
want to display rows having null value then i will mention .any(axis=1)'''

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

'isnull function is used to find null values .any display column that have atlest 1 null value if i \nwant to display rows having null value then i will mention .any(axis=1)'

Question 6:
^Find the median value of "Engine Cylinders" column in the dataset.
^Next, calculate the most frequent value of the same "Engine Cylinders".
^Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
^Now, calculate the median value of "Engine Cylinders" once again.
^Has it changed?

In [8]:
df['Engine Cylinders'].median()

6.0

In [9]:
df['Engine Cylinders'].mode()

0    4.0
dtype: float64

In [13]:
df['Engine Cylinders'].fillna(4.0)

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [14]:
df['Engine Cylinders'].median()

6.0

Question 7
^Select all the "Lotus" cars from the dataset.
^Select only columns "Engine HP", "Engine Cylinders".
^Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
^Get the underlying NumPy array. Let's call it X.
^Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result   XTX.
^Invert XTX.
^Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
^Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
^What's the value of the first element of w?

In [17]:
df_lotus=df.loc[df['Make']=='Lotus']

In [32]:
a=df_lotus[['Engine HP', 'Engine Cylinders']]

In [33]:
a.drop_duplicates()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [34]:
new=a.drop_duplicates()

In [35]:
new.to_numpy()

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [36]:
x=new.to_numpy()

In [37]:
np.transpose(x)

array([[189., 218., 217., 350., 400., 276., 345., 257., 240.],
       [  4.,   4.,   4.,   8.,   6.,   6.,   6.,   4.,   4.]])

In [42]:
xt=np.transpose(x)#transpose of x(np array)

In [48]:
np.matmul(xt,x)

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [49]:
xtx=np.matmul(xt,x)

In [52]:
np.linalg.inv(xtx)

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [54]:
inverse=np.linalg.inv(xtx)

In [53]:
y=[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [61]:
transpose_xtx=np.transpose(xtx)
np.matmul(inverse,xt)

array([[-1.31950096e-03,  2.84443321e-04,  2.29134897e-04,
        -4.18763778e-03,  4.46417989e-03, -2.39406462e-03,
         1.42221660e-03,  2.44147184e-03,  1.50122864e-03],
       [ 8.60893170e-02,  7.36567735e-04,  3.67976598e-03,
         2.54588185e-01, -2.13748621e-01,  1.51207962e-01,
        -5.18727169e-02, -1.14048164e-01, -6.40137937e-02]])

In [63]:
mul=np.matmul(inverse,xt)
w=np.matmul(mul,y)

In [64]:
w

array([  4.59494481, -63.56432501])